<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu"
                aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- 用户登录状态 -->
        <div class="nav-item dropdown w-100 mb-4">
            <a href="#" class="nav-link d-flex text-reset p-3" data-bs-toggle="dropdown">
                <div class="text-center w-100 d-flex align-items-center justify-content-center">
                    {% if request.user.is_authenticated %}
                        <div class="h3 mb-0 text-white me-2">{{ request.user.username }}</div>
                    {% else %}
                        <div class="h3 mb-0 text-white me-2">未登录</div>
                    {% endif %}
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M6 9l6 6l6 -6"></path>
                    </svg>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_staff %}
                        <a href="{% url 'admin:index' %}" class="dropdown-item">
                            <span class="nav-link-icon d-md-none d-lg-inline-block me-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
                                    <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                                </svg>
                            </span>
                            管理后台
                        </a>
                    {% endif %}
                    <a href="#" class="dropdown-item">
                        <span class="nav-link-icon d-md-none d-lg-inline-block me-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                            </svg>
                        </span>
                        个人信息
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'muggle:logout' %}" class="dropdown-item">
                        <span class="nav-link-icon d-md-none d-lg-inline-block me-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"></path>
                                <path d="M9 12h12l-3 -3"></path>
                                <path d="M18 15l3 -3"></path>
                            </svg>
                        </span>
                        退出登录
                    </a>
                {% else %}
                    <a href="{% url 'muggle:login' %}" class="dropdown-item">
                        <span class="nav-link-icon d-md-none d-lg-inline-block me-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"></path>
                                <path d="M20 12h-13l3 -3m0 6l-3 -3"></path>
                            </svg>
                        </span>
                        登录
                    </a>
                {% endif %}
            </div>
        </div>

        <div class="collapse navbar-collapse" id="sidebar-menu">
            <ul class="navbar-nav pt-lg-3">
                {% include 'layouts/_sidebar_left_ul/_dashboard.html' %}
                {% include 'layouts/_sidebar_left_ul/_interface.html' %}
                {% include 'layouts/_sidebar_left_ul/_forms.html' %}
                {% include 'layouts/_sidebar_left_ul/_extra.html' %}
                {% include 'layouts/_sidebar_left_ul/_layout.html' %}
                {% include 'layouts/_sidebar_left_ul/_icons.html' %}
                {% include 'layouts/_sidebar_left_ul/_email.html' %}
                {% include 'layouts/_sidebar_left_ul/_help.html' %}
            </ul>
        </div>
    </div>
</aside>